main {
    height: 100vh;
    display: flex;

    #backgroundNavio {
        width: 65%;
        height: 100%;
        background-image: url(../../assets/Tela-Login/cargo-ship-ocean.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .sectionLogin {
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;

        article {
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            #containerTitle {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                h1 {
                    width: 57%;
                    text-align: center;
                    font-weight: 700;
                    font-size: 2rem;
                }

                p {
                    text-align: center;
                    color: var(--secondary-intense-blue);
                    font-weight: 700;
                    font-size: 1rem;
                }
            }

            form {
                height: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;

                input {
                    padding: 0.75rem 0.813rem;
                    width: 18vw;
                }

                a {
                    color: var(--tertiary-dark-blue);
                    font-weight: 400;
                    font-size: 1rem;
                    margin-top: 0.5rem;
                }

                #buttonContainer {
                    width: 73%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    #entrar,
                    #criar {
                        width: 48%;
                        height: 6vh;
                        margin-top: 2rem;
                        border: none;
                        color: var(--background);
                        font-weight: 700;
                        font-size: 1rem;
                    }

                    #entrar {
                        background-color: var(--tertiary-dark-blue);
                    }

                    #criar {
                        background-color: var(--primary-vibrant-turquoise-blue);
                    }

                    #criar:hover {
                        background-color: #009DB6;
                    }
                }
            }
        }
    }
}