.body {
    display: flex;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    padding-left: 6vw;
    transition: padding-left 0.3s ease;

    span {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 2vh;
        width: 100%;
        margin-top: 2%;
        margin-left: 1%;

        img {
            margin-right: 1%;
        }

        p {
            font-weight: 400;
            font-size: 1rem;
        }
    }

    section {
        width: 100%;
        height: 78vh;
        display: flex;
        justify-content: center;
        align-items: center;

        article {
            width: 70%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .infos {
                display: flex;
                flex-direction: column;
                width: 80%;

                h4 {
                    font-weight: 700;
                    font-size: 1.5rem;
                }

                p {
                    font-weight: 400;
                    font-size: 1rem;
                    margin-top: 0.5rem;
                }
            }

            div {
                display: flex;
                justify-content: space-between;

            }

            .boxCards {
                margin-top: 2rem;
                height: 30%;
                width: 80%;

                .card {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 30%;
                    border-radius: 6px;
                    border: 1px solid var(--primary-light-blue-gray);
                    font-weight: 700;
                    font-size: 1.3rem;

                    img {
                        width: 16%;
                        margin-bottom: 1rem;
                    }
                }

            }

            .boxInfos {
                margin-top: 3rem;
                border: 1px solid var(--primary-light-blue-gray);
                height: 10%;
                width: 80%;
                border-radius: 6px;

                figure {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    width: 25%;

                    img {
                        border-radius: 6px;
                        padding: 0.4rem;
                    }

                    .NSolicitadosImage {
                        border: var(--primary-vibrant-turquoise-blue) solid 1px;
                        background-color: var(--primary-vibrant-turquoise-blue);
                        padding: 5% 4%;
                    }

                    .NAnalisesImage {
                        border: #E56700 solid 1px;
                        background-color: #E56700;
                    }

                    .NAprovadosImage {
                        border: #007A6A solid 1px;
                        background-color: #007A6A;
                        padding: 4% 5%;
                    }

                    .NRejeitadosImage {
                        border: var(--primary-burgundy-red) solid 1px;
                        background-color: var(--primary-burgundy-red);
                        padding: 5%;
                    }

                    figcaption {
                        width: 60%;

                        b {
                            margin-right: 3%;
                        }
                    }
                }
            }

            .boxFinal {
                width: 80%;
                display: flex;
                margin-top: 3%;

                img {
                    margin-right: 1%;
                }

                figcaption {
                    color: var(--secondary-intense-blue);
                    font-weight: 400;
                    font-size: 1ren;
                }
            }
        }
    }
}