@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-vibrant-turquoise-blue: #00BEDD;
    --secondary-intense-blue: #0844C4;
    --tertiary-dark-blue: #001A3D;
    --primary-burgundy-red: #A60B2F;
    --background: #F1F4F9;
    --primary-light-blue-gray: #CBD4E1;
    --secondary-medium-blue-gray: #63758D;
    --tertiary-dark-gray: #23282F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

input, textarea {
    border: 0.05rem solid var(--primary-light-blue-gray);
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border: none;
    box-shadow: 0px 0px 8px 1px var(--tertiary-dark-blue);
    outline: none;
}

input:hover {
    border: 0.05rem solid var(--tertiary-dark-gray);
}

textarea:focus {
    border: none;
    box-shadow: 0px 0px 8px 1px var(--tertiary-dark-blue);
    outline: none;
}

textarea:hover {
    border: 0.05rem solid var(--tertiary-dark-gray);
}

input,
textarea,
button {
    border-radius: 0.375rem;
}